.header_menu {
    display: none;
}

/* Small screens */
@media screen and (max-width: 360px) {
    .p_foot {
        font-size: 1em;
    }
    .header_name {
        font-size: 2.5rem;
        order: -1;
    }
    .header_menu {
        order: 1;
        display: inherit;
        height: 30px;
        padding: 0;
        margin: 0;
    }
    .header_menu svg {
        width: 32px;
        fill: #6d6b5c;
    }
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        -webkit-transform: translate(-350px, 0);
        transform: translate(-350px, 0);
        transition: transform 0.5s ease;
        display: block;
    }
    .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        margin-top: 6.8rem; 
    }
    .nav_item {
        text-align: left;
        list-style-type: none;
        border-bottom: #c4c3bc 1px solid;
    }
    .main_photo {
        text-align: center;
        width: 100%;
        order: 2;
    }
    .main_name {
        text-align: left;
        font-size: 2rem;
    }
    .personal_qualities {
        width: 100%;
        order: 3;
    }
    .projects{
        order: 4;
    }
    
    .last_projects{
        padding-top: 1rem;
        font-size: 1rem;
        width: 100%;
        text-align: center;
        order: 1;
    } 
    .project_head{
        font-size: 0.8rem;
    }
    .project_item{
        padding: 3px;
        text-align: center;
        width: 50%;
    }
    #pixel_art{
        order: 2;
    }
    #animal_card{
        order: 3;
    }
    #borsch{
        order: 4;
    }

    .footer_container{
        order: 10;
    }
}

/* Medium screens */
@media all and (min-width: 369px) and (max-width: 760px) {
    .header_name {
        font-size: 3rem;
    }
    .main_name {
        font-size: 2.5rem;
    }

    .nav a {
        font-size: 0.8rem;
    }
}

/* Large screens */
@media all and (min-width: 768px) {
    .header_name {
        font-size: 3.5rem;
    }
    .main_name {
        font-size: 3rem;
    }
}