.header_menu {
    display: none;
}

.footer_container {
    order: 10;
}

/* Small screens */
@media screen and (max-width: 360px) {
    .p_foot {
        font-size: 1em;
    }

    .header_name {
        order: -1;
        font-size: 2.5rem;
    }

    .header_menu {
        order: 1;
        display: inherit;
        height: 30px;
        padding: 0;
        margin: 0;
    }

    .header_menu svg {
        width: 32px;
        fill: #6d6b5c;
    }

    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        -webkit-transform: translate(-350px, 0);
        transform: translate(-350px, 0);
        transition: transform 0.5s ease;
        display: block;
    }

    .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        margin-top: 6.8rem; 
    }

    .nav_item {
        text-align: left;
        list-style-type: none;
        border-bottom: #c4c3bc 1px solid;
    }

    .main_photo {
        order: -1;
        text-align: center;
        width: 100%;
    }

    .main_name {
        text-align: left;
        font-size: 2rem;
    }

    .personal_qualities {
        order: 3;
        width: 100%;
    }

    .tablet_display {
        display: none;
    }


    .projects {
        order: 4;
    }
    
    .last_projects {
        order: 3;
        padding-top: 1rem;
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    .project_head {
        font-size: 0.8rem;
    }

    .project_item {
        padding: 3px;
        text-align: center;
        width: 50%;
    }

    #pixel_art {
        order: 1;
    }

    #animal_card {
        order: 2;
    }

    #borsch {
        order: 3;
    }
}

/* Medium screens */
@media all and (min-width: 361px) and (max-width: 768px) {
    /* header_container */
    .header_name {
        order: -1;
        font-size: 3rem;
        float: left;
    }
    
    .nav {
        order: 1;
        float: right;
    }

    .nav_list {
        display: flex;
    }

    .nav a {
        font-size: 0.8rem;
    }

    /* main_container */
    .main_photo {
        order: -1;
    }

    .main_name {
        font-size: 2.3rem;
        order: 1;
    }

    .personal_qualities {
        width: 100%;
        order: 2;
    }

    .pq1 {
        margin-left: auto;
        margin-right: auto;
    }

    .pq2 {
        display: none;
    }

    .tablet_display {
        order: 3;
    }

    .projects {
        order: 4;
    }
}

/* Large screens */
@media all and (min-width: 768px) {
    .tablet_display {
        display: none;
    }

    /* header_container */
    .header_name {
        order: -1;
        font-size: 3rem;
        float: left;
    }
    
    .nav {
        order: 1;
        float: right;
    }

    .nav_list {
        display: flex;
    }

    .header_name {
        font-size: 3.5rem;
    }

    /* main_container */
    .main_photo {
        order: -1;
        /* float: left; */
        width: 50%;
    }

    .personal_qualities {
        order: 1;
        /* float: right; */
        width: 50%;
    }

    .projects {
        order: 2;
    }

    .main_name {
        font-size: 3rem;
    }
}