.header_menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .p_foot {
        font-size: 1em;
    }
    .header_name {
        margin-left: 0;
        font-size: 2em;
        vertical-align: bottom; 
    }
    .header_menu {
        display: inherit;
        height: 30px;
        padding: 0;
        margin: 0;
    }
    .header_menu svg {
        width: 32px;
        fill: #f3b029;
    }
    .nav {
        z-index: 10;
        /* background-color: #fff; */
        width: -150px;
        position: absolute;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.5s ease;
    }
    .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        margin-top: 1.2em;
    }
    .nav_list{
        width: 100%;
        position: fixed;
    }
    .nav_item {
        display: list-item;
        width: 100%;
        text-align: left;
        list-style-type: none;
    }
    .nav a{
        padding: 5% 10%;
        background-color: rgba(255, 255, 255, 0.9);
    }
} 